@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
    font-family: '_pepsi_regular';
    src: url('assets/fonts/pepsi_pl-webfont.woff2') format('woff2'),
         url('assets/fonts/pepsi_pl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: rgb(175, 198, 228);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.back {
    transform: translateX(-50px);
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    /* background-color: rgb(212, 18, 18); */
    background-color: white;
    transition: 0.3s;
    overflow: hidden;
}

.back::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 290px;
    height: 290px;
    background-color: rgb(212, 18, 18);
    clip-path: circle(50% at 50% 50%);
    transition: 0.15s;
}

.can:hover > .back::before {
    opacity: 0;
    visibility: hidden;
}


.can:hover > .back {
    background-color: rgb(18, 70, 212);
    border-radius: 25px;
    height: 400px;
    width: 600px;
    transform:translateX(-205px) translateY(-25px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.puszka { 
z-index: 5;
/* border: 5px solid white; */
transition: 0.3s;
}

.can:hover > .puszka {
    transform:translateX(175px);

}

.can:hover > .test {
    z-index: -1;
    transform:translateX(-15px) scaleX(1.05) scaleY(1.02);

}

.test {
    background: linear-gradient(to top, white, white), no-repeat top center;
    position: absolute;
    transform:translateX(-200px) scaleX(1.05) scaleY(1.02);
    
}

.text {
    margin-top: 30px;
    margin-left: 25px;
    width: 350px;
    visibility: hidden;
    color: white;
    opacity:0;
    transition: 0.2s;
}

.text h3 {
    font-family: '_pepsi_regular';
    letter-spacing: 3px;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.text p {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}

.can:hover > .back .text {
    visibility: visible;
    opacity:1;
}

@media only screen and (max-width: 650px) {
    
    .can:hover > .back {
        background-color: rgb(18, 70, 212);
        border-radius: 25px;
        height: 750px;
        width: 400px;
        transform:translateX(-105px) translateY(-150px);
    }

    .can:hover > .puszka {
        transform:translateY(220px);
    
    }

  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }